#title{
    text-align: center;
}
#image{
   margin-left:10%;
}
#img-caption{
    text-align: center;
    font-size: 25px;
    margin-left: 20%;
    margin-right: 20%;
}
#tribute-info{
    text-align: center;
}
#tribute-info ui{
    margin-right:20%
}